本篇接上一篇[共享单车告诉你](https://zhuanlan.zhihu.com/p/36660704)，为共享单车预测篇。

## 提出问题

影响租用共享单车人数的因素是什么？

## 理解数据

In [124]:
import pandas as pd
import matplotlib.pyplot as plt

In [125]:
train = pd.read_csv('train.csv')
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [126]:
train.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [127]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.6+ KB

train数据完整，数据类型都正确。

In [128]:
test = pd.read_csv('test.csv')
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [129]:
test.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
count,6493.000000,6493.000000,6493.000000,6493.000000,6493.000000,6493.000000,6493.000000,6493.000000
mean,2.493300,0.029108,0.685815,1.436778,20.620607,24.012865,64.125212,12.631157
std,1.091258,0.168123,0.464226,0.648390,8.059583,8.782741,19.293391,8.250151
min,1.000000,0.000000,0.000000,1.000000,0.820000,0.000000,16.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,13.940000,16.665000,49.000000,7.001500
50%,3.000000,0.000000,1.000000,1.000000,21.320000,25.000000,65.000000,11.001400
75%,3.000000,0.000000,1.000000,2.000000,27.060000,31.060000,81.000000,16.997900
max,4.000000,1.000000,1.000000,4.000000,40.180000,50.000000,100.000000,55.998600

In [130]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
datetime      6493 non-null object
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
dtypes: float64(3), int64(5), object(1)
memory usage: 456.6+ KB

test数据完整，数据类型都正确。

In [131]:
print('训练数据集：{}， 测试数据集：{}'.format(train.shape, test.shape)); print()

训练数据集：(10886, 12)， 测试数据集：(6493, 9)

训练数据集有10886条数据，方便后面拆分。

将train和test合并成full，方便数据清洗。

In [132]:
full = train.append(test, ignore_index=True)
full = full[train.columns.tolist()]    # 保持full的columns顺序与train相同
print(full.shape)
full.head()

(17379, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1.0

In [133]:
full.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,10886.000000,10886.000000,10886.000000
mean,2.501640,0.028770,0.682721,1.425283,20.376474,23.788755,62.722884,12.736540,36.021955,155.552177,191.574132
std,1.106918,0.167165,0.465431,0.639357,7.894801,8.592511,19.292983,8.196795,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.820000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.940000,16.665000,48.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.500000,24.240000,63.000000,12.998000,17.000000,118.000000,145.000000
75%,3.000000,0.000000,1.000000,2.000000,27.060000,31.060000,78.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.000000,50.000000,100.000000,56.996900,367.000000,886.000000,977.000000

## 数据清洗

1）数据预处理  
&nbsp;  
此数据集不需要

2）特征工程

变量说明：

datatime    日期+时间  
season      1=春 2=夏 3=秋 4=冬  
holiday     1=节假日 0=非节假日  
workingday   1=工作日 0=周末  
weather     1=晴天多云 2=雾天阴天 3=小雪小雨 4=大雨大雪大雾  
temp       气温摄氏度  
atemp      体感温度  
humidity    湿度  
windspeed    风速  
casual      非注册用户个数  
registered   注册用户个数  
count      给定日期时间（每小时）总租车人数

In [134]:
full['year'] = full['datetime'].apply(lambda x: x.split()[0].split('-')[0]).astype(int)
full['month'] = full['datetime'].apply(lambda x: x.split()[0].split('-')[1]).astype(int)
full['day'] = full['datetime'].apply(lambda x: x.split()[0].split('-')[2]).astype(int)
full['hour'] = full['datetime'].apply(lambda x: x.split()[1].split(':')[0]).astype(int)

In [135]:
# periodDf = pd.DataFrame()
# periodDf['date'] = full['datetime'].apply(lambda x: x.split()[0])
# # periodDf['year'] = full['datetime'].apply(lambda x: x.split()[0].split('-')[0]).astype(int)
# periodDf['month'] = full['datetime'].apply(lambda x: x.split()[0].split('-')[1]).astype(int)
# periodDf['day'] = full['datetime'].apply(lambda x: x.split()[0].split('-')[2]).astype(int)
# periodDf['hour'] = full['datetime'].apply(lambda x: x.split()[1].split(':')[0]).astype(int)
# periodDf.drop('date', axis=1, inplace=True)
# # periodDf['weekday'] = full['datetime'].apply(lambda x: x.split(' ')[1].split(':')[0]).astype(int)
# periodDf.head()

In [136]:
full.drop(['casual', 'registered'], axis=1, inplace=True)
corrDf = full.corr()
corrDf['count'].sort_values(ascending=False)

count         1.000000
hour          0.400601
temp          0.394454
atemp         0.389784
year          0.260403
month         0.166862
season        0.163439
windspeed     0.101369
day           0.019826
workingday    0.011594
holiday      -0.005393
weather      -0.128655
humidity     -0.317371
Name: count, dtype: float64

In [137]:
#选取相关系数>0.15的特征
full_X = full.drop(['datetime', 'day', 'count'], axis=1)
full_X.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,hour
0,1,0,0,1,9.84,14.395,81,0.0,2011,1,0
1,1,0,0,1,9.02,13.635,80,0.0,2011,1,1
2,1,0,0,1,9.02,13.635,80,0.0,2011,1,2
3,1,0,0,1,9.84,14.395,75,0.0,2011,1,3
4,1,0,0,1,9.84,14.395,75,0.0,2011,1,4

## 构建模型 评估模型

In [138]:
print(full.shape)
full.head()

(17379, 14)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,year,month,day,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,16.0,2011,1,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,40.0,2011,1,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,32.0,2011,1,1,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,13.0,2011,1,1,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,1.0,2011,1,1,4

In [139]:
#原始数据集有10886行
sourceRow = 10886
#原始数据集：特征
source_X = full_X.loc[:sourceRow-1,:]
#原始数据集：标签
source_y = full.loc[:sourceRow-1,'count'].astype(int)
#预测数据集：特征
pred_X = full_X.loc[sourceRow:,:]

### 使用线性回归算法预测

In [140]:
#建立模型用的训练数据集和测试数据集
from sklearn.model_selection import train_test_split 

train_X, test_X, train_y, test_y = train_test_split(source_X, source_y, train_size=0.8, test_size=0.2)

#导入线性回归算法
from sklearn.linear_model import LinearRegression
#创建模型：线性回归（linear regression）
model = LinearRegression()
#训练模型
model = model.fit(train_X , train_y)
#评估模型
result = model.score(test_X, test_y)
result

0.40881671026100352

效果非常一般，下面选择使用随机森林算法预测。

### 使用随机森林算法预测

In [141]:
#导入随机森林算法
# from sklearn import cross_validation
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100).fit(train_X, train_y)
result = model.score(test_X, test_y)
result

0.94900945344193322

准确率较高，选择作为最终预测方法。

## 方案实施

In [142]:
#使用机器学习模型，对预测数据集中的数量进行预测
pred_Y = model.predict(pred_X).astype(int)
#生成的预测值是浮点数,转换为整型
# pred_Y = pred_Y.astype(int)
dt = full.loc[sourceRow:,'datetime']
#数据框：日期时间，租车数量
predDf = pd.DataFrame({'datetime': dt,
                       'count': pred_Y})
print(predDf.shape)
predDf.head()

(6493, 2)

       count             datetime
10886     10  2011-01-20 00:00:00
10887      5  2011-01-20 01:00:00
10888      3  2011-01-20 02:00:00
10889      3  2011-01-20 03:00:00
10890      3  2011-01-20 04:00:00

In [143]:
#输出到csv文件，上传Kaggle。
predDf = predDf[['datetime', 'count']]
predDf.to_csv('bikesharing_pred.csv', index = False)